/*.game-grid {*/
    /*-fx-background-color: white ;*/
    /*-fx-padding: 10 ;*/
/*}*/
/*.game-grid-cell {*/
    /*-fx-background-color: black, white ;*/
    /*-fx-background-insets: 0, 0 1 1 0 ;*/
/*}*/
/*.game-grid-cell.first-row {*/
    /*-fx-background-insets: 0, 1 1 1 0 ;*/
/*}*/
/*.game-grid-cell.first-column {*/
    /*-fx-background-insets: 0, 0 1 1 1 ;*/
/*}*/
/*.game-grid-cell.first-row.first-column {*/
    /*-fx-background-insets: 0, 1 ;*/
/*}*/

/*.game-grid-cell-top{*/
    /*-fx-background-color: yellow ;*/

    /*-fx-border-color:red;*/
    /*-fx-border-width:0px 0px 5px 0px;*/
/*}*/


.active-button{
    -fx-border-color:red;
    -fx-border-width:2px;
    -fx-border-radius: 100px;

}

.button-circle{
-fx-background-radius: 5em;
-fx-min-width: 100px;
-fx-min-height: 100px;
-fx-max-width: 100px;
-fx-max-height: 100px;
}

#title {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
